.footer {
    width: 100%;
    max-width: 100vw;
    height: 350px;
    background: var(--pure-white);
}

* {
    box-sizing: border-box;
}

footer {
    display: block;
}

.footer .content {
    max-width: var(--content-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 0px auto;
    background: var(--pure-white);
}

.footer .content .top {
    padding-top: 40px;
    flex: 1 1 0%;
}

.footer .content .top .links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.footer .content .top .links .link-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer .content .top .links .link-column h4 {
    margin-bottom: 10px;
}

.footer .content .top .links .link-column ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.footer .content .top .links .link-column ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--font-light);
    margin-top: 10px;
}

.footer .content .bottom {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-top: solid 1px var(--border-color);
}

.footer .content .bottom .payment-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

* {
    box-sizing: border-box;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}